<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Album</title>
    <link rel="stylesheet" th:href="@{/resources/css/design.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/locale::locale}"></div>
<div class="center">
    <form action="#" th:action="@{/admin/album/update}" th:object="${requestAlbum}" method="post">
        <h1 th:text="#{album.edit}"></h1>
        <div class="txt_field">
            <input id="id" type="number" required readonly th:field="*{id}">
            <span></span>
            <label for="id" th:text="#{album.id}">
            </label>
        </div>
        <div class="txt_field">
            <input id="title" type="text" required th:field="*{title}"
                   pattern="^[A-Za-zА-Яа-я].{1,128}.$">
            <span></span>
            <label for="title" th:text="#{album.title}">
            </label>
        </div>
        <input type="submit" th:value="#{album.edit}">
    </form>
</div>
</body>
</html>