<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Mix</title>
    <link rel="stylesheet" th:href="@{/resources/css/design.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/locale::locale}"></div>
<div class="center">
    <form action="#" th:action="@{/mix/update}" th:object="${mix}" method="post">
        <h1 th:text="#{mix.edit}"></h1>
        <div class="txt_field">
            <input id="id" type="number" required readonly th:field="*{id}">
            <span></span>
            <label for="id" th:text="#{mix.id}">
            </label>
        </div>
        <div class="txt_field">
            <input id="title" type="text" required th:field="*{title}">
            <span></span>
            <label for="title" th:text="#{album.title}">
            </label>
        </div>
        <div class="txt_field">
            <input id="description" type="text" required th:field="*{description}">
            <span></span>
            <label for="description" th:text="#{mix.description}">
            </label>
        </div>
        <input type="submit" th:value="#{mix.edit}">
    </form>
</div>
</body>
</html>