<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Album Review</title>
    <link rel="stylesheet" th:href="@{/resources/css/design.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/locale::locale}"></div>
<div class="center">
    <h1 th:text="#{addReview}">
    </h1>
    <form th:method="post" th:action="@{/review/user/addAlbumReview}" th:object="${albumReview}"
          enctype="application/x-www-form-urlencoded">
        <div class="txt_field">
            <input th:field="*{reviewText}" type="text" required pattern="^[A-Za-zА-Яа-я].{1,512}.$">
            <span></span>
            <label th:text="#{review.album.text}">
            </label>
        </div>
        <div class="txt_field">
            <input th:field="*{album.title}" name="albumTitle" type="text" required>
            <span></span>
            <label th:text="#{album.title}">
            </label>
        </div>
        <input type="submit" th:value="#{add}">
    </form>
</div>
</body>
</html>