<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Mix Review</title>
    <link rel="stylesheet" th:href="@{/resources/css/design.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/locale::locale}"></div>
<div class="center">
    <h1 th:text="#{addReview}">
    </h1>
    <form th:method="post" th:action="@{/user/review/add-mix-review}" th:object="${mixReview}"
          enctype="application/x-www-form-urlencoded">
        <div class="txt_field">
            <input th:field="*{reviewText}" type="text" required pattern="^[A-Za-zА-Яа-я].{2,512}">
            <span></span>
            <label th:text="#{review.mix.text}">
            </label>
        </div>
        <div class="txt_field">
            <input th:field="*{mix.title}" name="mixTitle" type="text" required
            pattern="^[A-Za-zА-Яа-я].{1,128}.$">
            <span></span>
            <label th:text="#{mix.title}">
            </label>
        </div>
        <input type="submit" th:value="#{add}">
    </form>
</div>
</body>
</html>