<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>

<header>
    <div th:if="${session.sessionUser.role eq 'USER'}">
        <div th:replace="~{fragments/userHeader.html}"></div>
    </div>
    <div th:unless="${session.sessionUser.role eq 'ADMIN'}">
        <div th:replace="~{fragments/adminHeader.html}"></div>
    </div>
</header>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{album.title}">
        </th>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.title}">
            Album title
        </td>
        <td><a th:href="@{/}" role="button"
               class="btn btn-danger" th:text="#{album.delete}">
        </a></td>
        <td><a th:href="@{/}" role="button"
               class="btn btn-warning" th:text="#{album.edit}">
        </a></td>
        <td><a th:href="@{/}" role="button"
               class="btn btn-success" th:text="#{addReview}">
        </a></td>
    </tr>
    </thead>
</table>
<div th:replace="~{fragments/footer.html}"></div>
</body>
</html>