<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mix Reviews</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<header>
    <div th:if="${session.sessionUser.role eq 'USER'}">
        <div th:replace="~{fragments/userHeader.html}"></div>
    </div>
    <div th:unless="${session.sessionUser.role eq 'ADMIN'}">
        <div th:replace="~{fragments/adminHeader.html}"></div>
    </div>
</header>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{review.mix}">
        </th>
        <th scope="col" th:text="#{review.mix.text}">
        </th>
        <th scope="col" th:text="#{review.user}">
        </th>
    </tr>
    <tr th:each="mixReview : ${mixReviews}">
        <td th:text="${mixReview.mix.title}">
            Mix title
        </td>
        <td th:text="${mixReview.reviewText}">
            Review text
        </td>
        <td th:text="${mixReview.user.login}">
            User login
        </td>
        <td><a th:href="@{/}" role="button"
               class="btn btn-danger" th:text="#{review.delete}">
        </a></td>
    </tr>
    </thead>
</table>
<div th:replace="~{fragments/footer.html}"></div>
</body>
</html>