<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>

<header>
    <div th:if="${session.sessionUser.role eq 'USER'}">
        <div th:replace="~{fragments/userHeader.html}"></div>
    </div>
    <div th:unless="${session.sessionUser.role eq 'ADMIN'}">
        <div th:replace="~{fragments/adminHeader.html}"></div>
    </div>
</header>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{track.title}">
        </th>
        <th scope="col" th:text="#{track.url}">
        </th>
        <th scope="col" th:text="#{review.album}">
        </th>
    </tr>
    <tr th:each="track : ${tracks}">
        <td th:text="${track.title}">Track title</td>
        <td th:text="${track.url}">Track Url</td>
        <td th:text="${track.album.title}">Album</td>
        <td><a th:href="@{/track/{id}/remove(id = ${track.id})}" role="button" class="btn btn-danger"
               th:text="#{track.delete}">
        </a>
        <td><a th:href="@{/}" role="button"
               class="btn btn-warning" th:text="#{track.edit}">
        </a></td>
        <td><a th:href="@{/}" role="button"
               class="btn btn-success" th:text="#{addReview}">
        </a></td>
    </tr>
    </thead>
</table>
<div th:replace="~{fragments/footer.html}"></div>
</body>
</html>