<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div class="container fixed-bottom">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a th:href="@{/account/info}"
                                    class="nav-link px-2 text-muted">
                Account info
            </a></li>
            <li class="nav-item"><a
                    href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDbSGrCJdjncNKblNWgNZvwDGdWdCrPpbCskHdlbCKTfmSPqXJnMZkJSjmLlsnzWRtRsljq"
                    class="nav-link px-2 text-muted">
                Bug report
            </a></li>
            <li class="nav-item"><a href="https://github.com/h1alexbel/OrdJoy.V2"
                                    class="nav-link px-2 text-muted">
                GitHub
            </a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 OrdJoy, Inc</p>
    </footer>
</div>
</body>
</html>